@import "tailwindcss";

@layer base {
  h1 {
    @apply text-3xl m-3 font-semibold;
  }
}

@layer utilities {
  .bg-hero {
    background-image: url("/FruVeg_Logo.png");
    background-size: cover;
    height: 60px;
    width: 60px;
  }
  .logo {
    background-image: url("/fruVeg.png");
    background-size: cover;
    height: 60px;
    width: 60px;
    /* border-radius: 25%; */
  }
}
